@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

@layer base {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		@apply cursor-pointer;
	}
}

@theme {
	--color-theme-dark: oklch(0.2254 0.0015 197.05)
}

@custom-variant dark (&:where(.dark, .dark *));