---
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <!-- <Header /> -->
  <main class="grow md:p-5 p-2 flex flex-col">
    <section
      class="grow text-white relative *:rounded-3xl rounded-3xl ring ring-inset ring-white/20 overflow-hidden "
    >
    <div
        class="absolute bg-radial-[at_50%_15%] from-[#89C6DA] to-[#005379] -inset-100 md:inset-0"
      >  
		<div
        class="absolute bg-linear-130 from-[#6DE4D4]/45 to-[#6DE4D4]/0 -inset-100 md:inset-0"
      >
      </div>
      </div>
      <div
        class="absolute bg-radial-[at_100%_95%] from-[#BF2CD3]/20 via-[#BF2CD3]/0 to-transparent via-25% hidden md:block inset-0"
      >
      </div>
			<div class="absolute flex justify-between m-4 inset-x-0 z-20">
        <span class="flex items-center gap-4 font-semibold text-lg">
          <img src="/logo.svg" class="size-12" alt="our shitty logo" />
          Revamp Chat
        </span>
          <a class="bg-white/2 px-8 h-12 grid place-items-center rounded-full border border-white/10 font-bold" href="https://app.revamp.chat">Login</a>
      </div>
      <div class="absolute flex flex-col justify-center items-center inset-0 gap-12 z-10 px-6">
				<p class="px-3 py-1 rounded-full bg-cyan-200/10 border border-cyan-300/10 text-sm font-medium -mb-8">Private Alpha</p>
        <p class="font-bold md:text-5xl text-4xl text-center leading-12 md:leading-16">
          Every feature chat should have.
          <br />
          Finally in one app.
        </p>
        <p class="text-center text-pretty max-w-160 tracking-wide">
          Docs, whiteboarding, scheduling, moderation tooling, public profiles, 
          and real customization<span title="This is a real emdash, that was written by a human!">—</span>all in one place. 
          Built in enterprise-class reliability and enhanced with AI that helps without taking over.
        </p>
        <div class="flex gap-12 mt-8">
          <a class="bg-[#3B79F5]/63 w-40 grid place-items-center h-14 rounded-full border border-[#3B79F5]/40 font-semibold" href="https://app.revamp.chat">
          <!-- Get Started -->
           Join Waitlist
          </a>
          <!-- <a class="bg-white/3 w-40 grid place-items-center h-14 rounded-full border border-white/10 font-bold">Learn More</a> -->
        </div>
      </div>
    </section>
  </main>
</RootLayout>
